body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.ui-dialog-content body {
    background: #fff !important;
}

.ui-button, button.ui-button.ui-state-default, .ui-button.ui-state-default {
    border: 1px solid #f5a006 !important;
    color: #fff;
    background: #ffa300 !important;
}

.ui-paginator .ui-paginator-page.ui-state-active {
    background: #d19c04;
    color: #fff;
    border-color: #dea604;
}

#content {
    padding: 10px 10px 30px;
    min-height: calc(100vh - 200px);
    color: #191919;
    background: #f6f6f6;
}

.centered {
    text-align: center;
    margin: auto auto;
}

.centered .ui-chkbox {
    width: 100%;
}

.centered .ui-button,
.ui-datatable-footer .ui-button {
    margin-right: 6px;
}

.max-width {
    width: 100%;
}

.ui-datatable .ui-autocomplete,
.ui-datatable .ui-autocomplete-input {
    width: 100%;
}

.one-number-width {
    max-width: 30px;
}

.drag-handle {
    color: #9a9a9a;;
}

.topmargin-10 {
    margin-top: 10px;
}

.topmargin-20 {
    margin-top: 20px;
}

.filter {
    width: 175px;
}

.filterable {
    width: calc(100% - 20px);
}

.filterable-chart {
    width: 100%;
    height: 100%;
    min-width: 60vw;
    min-height: 40vh;
}

.resizable {
    resize: horizontal !important;
    overflow: hidden !important;
}

.ui-datatable {
    min-width: 0 !important;
}

.card-container {
    display: flex;
    display: -webkit-flex; /* Safari */
    align-items: flex-start;
    flex-wrap: wrap;
}

.even-margin {
    margin: 15px 4px 0 4px;
}

.card {
    margin: 8px;
    padding: 20px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15);
    transition: all .2s;
    -webkit-transition: all .2s; /* Safari */
    background: #ffffff;
}

.card:hover {
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.19), 0 2px 2px rgba(0, 0, 0, 0.23);
    opacity: 1;
}

.card-title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    color: #424242;
}

.ui-accordion-header {
    outline: 0;
    padding-right: 20px !important;
}

.group-accordion {
    max-width: 750px;
    margin: 15px -15px -10px -15px;
}

.group-accordion .card-title {
    margin-bottom: 0;
}

.group-accordion > .ui-accordion-header {
    background: #fff;
}

.users-accordion .ui-accordion-header {
    margin-bottom: 10px;
}

.ui-accordion-header {
    border: 0 none !important;
}

.text-icon {
    margin-right: 10px;
}

.text-icon-small {
    margin-right: 5px;
}

.topbar {
    width: auto;
    font-size: 18px;
    font-weight: 100;
    background: #474747;
    border-bottom: 0;
    padding-bottom: 0;
}

.topbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#headerlink {
    padding: 30px 0 0 20px;
    float: left;
}

#headerlink a {
    font-size: 25px;
    color: #ffffff;
}

#headerlink img {
    vertical-align: middle;
    width: 55px;
    margin-right: 15px;
    margin-bottom: 5px;
}

#logout-section {
    margin: 10px;
    float: right;
    color: #ffffff;
}

#logout-section a {
    color: #ffbf05;
}

.menu {
    clear: both;
    float: none;
    max-width: 850px;
}

.menuitem {
    display: inline-block;
    color: white;
    padding: 12px 20px;
    border-bottom: 6px solid #00000000;
}

.menuitem_active {
    display: inline-block;
    color: white;
    padding: 12px 20px;
    border-bottom: 6px solid #ffa300;
}

a {
    text-decoration: none;
    color: #ffbf05;
<!-- #b97600;
-->
}

.link:hover, .menuitem:hover, .menuitem_active:hover {
    border-bottom: 6px solid #b97600;
<!-- #ffbf05 -->
}

.toggler {
    margin-left: 25px;
}

.ui-datatable table {
    table-layout: auto !important;
}

.ui-datatable-resizable thead th,
.ui-datatable-resizable tbody td,
.ui-datatable-resizable tfoot td {
    white-space: normal !important;
}

.ui-panelgrid .ui-widget-content {
    border: none;
}

/* 1 and 2 column layouts */
.input {
    margin-top: 7px;
    margin-bottom: 7px;
}

.input-container-2 .label {
    width: 35%;
}

.input-container-2 .input {
    width: 65%;
}

.input-container-1 .label,
.input-container-1 .input {
    width: 100%;
}

.label .fa {
    margin-left: 5px;
}

.input-container-1,
.input-container-2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.input-container-1 .input input,
.input-container-2 .input input {
    width: 100%;
    min-width: auto !important;
}

.input-container-1 .input .ui-selectonemenu,
.input-container-2 .input .ui-selectonemenu {
    width: calc(100% - 35px);
    min-width: auto !important;
}

.input-container-1 .input .ui-selectcheckboxmenu,
.input-container-2 .input .ui-selectcheckboxmenu {
    width: calc(100% - 3px);
    min-width: auto !important;
}

.input-container-1 .input .ui-calendar > * {
    width: calc(100% - 10px) !important;
    min-width: auto !important;
}


.highlight {
    background-color: #FFFFFF !important;
    background-image: none !important;
    color: #fca752 !important;
}


@media only screen and (min-width: 800px) {
    /* add paddings and margins */
    .card {
        margin: 20px;
        padding: 25px;
    }

    .filter {
        float: left;
    }

    .filterable {
        width: auto;
        flex-grow: 1;
    }

    #content {
        padding: 30px 40px 30px 40px;
    }
}

@media only screen and (max-width: 500px) {
    .input-container-2 {
        display: block;
    }

    .input-container-2 .label,
    .input-container-2 .input {
        width: 100%;
    }
}

/* Primefaces dialog fixes */

.ui-dialog {
    width: auto !important;
    height: auto !important;
}

.ui-dialog-content {
    margin-left: 30px !important;
    margin-right: 30px !important;
    margin-bottom: 30px !important;
}

.ui-dialog-titlebar {
    margin-left: 15px !important;
}

.ui-dialog-content iframe {
    min-width: 60vw;
    max-height: 80vh;
    width: 100% !important;
    min-height: 100%;
}

.ui-dialog-content table {
    min-width: calc(100% - 30px);
}

.ui-confirm-dialog {
    max-width: 550px;
}

.ui-confirm-dialog .ui-dialog-content {
    margin-left: 15px !important;
    margin-right: 15px !important;
    margin-bottom: 15px !important;
}

.ui-confirm-dialog .ui-icon-alert {
    display: none
}

.ui-confirm-dialog .ui-button {
    margin-left: 20px !important;
}


#pb1 {
    margin: 20px;
    width: 200px;
    height: 200px;
    position: relative;
    text-align: center;
}

#main-login {
    background-image: url(/resources/img/logo.svg);
    background-position: 50% 15px;
    background-repeat: no-repeat;
    background-size: 40%;
}

.row-white {
    background-color: #fafafb !important;
}